<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orders.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.orders.pojo.Orders" >
    <id column="orders_id" property="ordersId" jdbcType="VARCHAR" />
    <result column="class_ids" property="classIds" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="orders_time" property="ordersTime" jdbcType="TIMESTAMP" />
    <result column="orders_price" property="ordersPrice" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orders_id, class_ids, student_id, orders_time, orders_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.orders.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orders
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.orders.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.orders.pojo.Orders" >
    insert into orders (orders_id, class_ids, student_id, 
      orders_time, orders_price)
    values (#{ordersId,jdbcType=VARCHAR}, #{classIds,jdbcType=VARCHAR}, #{studentId,jdbcType=BIGINT}, 
      #{ordersTime,jdbcType=TIMESTAMP}, #{ordersPrice,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.orders.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordersId != null" >
        orders_id,
      </if>
      <if test="classIds != null" >
        class_ids,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="ordersTime != null" >
        orders_time,
      </if>
      <if test="ordersPrice != null" >
        orders_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordersId != null" >
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="classIds != null" >
        #{classIds,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="ordersTime != null" >
        #{ordersTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordersPrice != null" >
        #{ordersPrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.orders.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.ordersId != null" >
        orders_id = #{record.ordersId,jdbcType=VARCHAR},
      </if>
      <if test="record.classIds != null" >
        class_ids = #{record.classIds,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.ordersTime != null" >
        orders_time = #{record.ordersTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordersPrice != null" >
        orders_price = #{record.ordersPrice,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set orders_id = #{record.ordersId,jdbcType=VARCHAR},
      class_ids = #{record.classIds,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=BIGINT},
      orders_time = #{record.ordersTime,jdbcType=TIMESTAMP},
      orders_price = #{record.ordersPrice,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.orders.pojo.Orders" >
    update orders
    <set >
      <if test="classIds != null" >
        class_ids = #{classIds,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="ordersTime != null" >
        orders_time = #{ordersTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordersPrice != null" >
        orders_price = #{ordersPrice,jdbcType=REAL},
      </if>
    </set>
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orders.pojo.Orders" >
    update orders
    set class_ids = #{classIds,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=BIGINT},
      orders_time = #{ordersTime,jdbcType=TIMESTAMP},
      orders_price = #{ordersPrice,jdbcType=REAL}
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </update>
</mapper>