<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comment.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.comment.pojo.Comment" >
    <id column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="comment_name" property="commentName" jdbcType="VARCHAR" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comment_picture" property="commentPicture" jdbcType="VARCHAR" />
    <result column="comment_answer" property="commentAnswer" jdbcType="VARCHAR" />
    <result column="comment_state" property="commentState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    comment_id, comment_name, comment_time, comment_content, comment_picture, comment_answer, 
    comment_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comment.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    limit #{index},#{pageSize}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.comment.pojo.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comment.pojo.Comment" >
    insert into comment (comment_id, comment_name, comment_time, 
      comment_content, comment_picture, comment_answer, 
      comment_state)
    values (#{commentId,jdbcType=BIGINT}, #{commentName,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, 
      #{commentContent,jdbcType=VARCHAR}, #{commentPicture,jdbcType=VARCHAR}, #{commentAnswer,jdbcType=VARCHAR}, 
      #{commentState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comment.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentName != null" >
        comment_name,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="commentPicture != null" >
        comment_picture,
      </if>
      <if test="commentAnswer != null" >
        comment_answer,
      </if>
      <if test="commentState != null" >
        comment_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="commentName != null" >
        #{commentName,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentPicture != null" >
        #{commentPicture,jdbcType=VARCHAR},
      </if>
      <if test="commentAnswer != null" >
        #{commentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="commentState != null" >
        #{commentState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comment.pojo.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.commentName != null" >
        comment_name = #{record.commentName,jdbcType=VARCHAR},
      </if>
      <if test="record.commentTime != null" >
        comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentContent != null" >
        comment_content = #{record.commentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commentPicture != null" >
        comment_picture = #{record.commentPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.commentAnswer != null" >
        comment_answer = #{record.commentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.commentState != null" >
        comment_state = #{record.commentState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set comment_id = #{record.commentId,jdbcType=BIGINT},
      comment_name = #{record.commentName,jdbcType=VARCHAR},
      comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      comment_content = #{record.commentContent,jdbcType=VARCHAR},
      comment_picture = #{record.commentPicture,jdbcType=VARCHAR},
      comment_answer = #{record.commentAnswer,jdbcType=VARCHAR},
      comment_state = #{record.commentState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comment.pojo.Comment" >
    update comment
    <set >
      <if test="commentName != null" >
        comment_name = #{commentName,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentPicture != null" >
        comment_picture = #{commentPicture,jdbcType=VARCHAR},
      </if>
      <if test="commentAnswer != null" >
        comment_answer = #{commentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="commentState != null" >
        comment_state = #{commentState,jdbcType=VARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comment.pojo.Comment" >
    update comment
    set comment_name = #{commentName,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_picture = #{commentPicture,jdbcType=VARCHAR},
      comment_answer = #{commentAnswer,jdbcType=VARCHAR},
      comment_state = #{commentState,jdbcType=VARCHAR}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
</mapper>