<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sign_up.mapper.SignUpMapper" >
  <resultMap id="BaseResultMap" type="com.sign_up.pojo.SignUp" >
    <id column="sign_up_id" property="signUpId" jdbcType="BIGINT" />
    <result column="sign_up_time" property="signUpTime" jdbcType="TIME" />
    <result column="sign_up_name" property="signUpName" jdbcType="VARCHAR" />
    <result column="sign_up_state" property="signUpState" jdbcType="VARCHAR" />
    <result column="sign_up_tel" property="signUpTel" jdbcType="VARCHAR" />
    <result column="sign_up_email" property="signUpEmail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sign_up_id, sign_up_time, sign_up_name, sign_up_state, sign_up_tel, sign_up_email
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sign_up.pojo.SignUpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sign_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    
    limit #{index},#{pageSize}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sign_up
    where sign_up_id = #{signUpId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sign_up
    where sign_up_id = #{signUpId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sign_up.pojo.SignUpExample" >
    delete from sign_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sign_up.pojo.SignUp" >
    insert into sign_up (sign_up_id, sign_up_time, sign_up_name, 
      sign_up_state, sign_up_tel, sign_up_email
      )
    values (#{signUpId,jdbcType=BIGINT}, #{signUpTime,jdbcType=TIME}, #{signUpName,jdbcType=VARCHAR}, 
      #{signUpState,jdbcType=VARCHAR}, #{signUpTel,jdbcType=VARCHAR}, #{signUpEmail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sign_up.pojo.SignUp" >
    insert into sign_up
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signUpId != null" >
        sign_up_id,
      </if>
      <if test="signUpTime != null" >
        sign_up_time,
      </if>
      <if test="signUpName != null" >
        sign_up_name,
      </if>
      <if test="signUpState != null" >
        sign_up_state,
      </if>
      <if test="signUpTel != null" >
        sign_up_tel,
      </if>
      <if test="signUpEmail != null" >
        sign_up_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signUpId != null" >
        #{signUpId,jdbcType=BIGINT},
      </if>
      <if test="signUpTime != null" >
        #{signUpTime,jdbcType=TIME},
      </if>
      <if test="signUpName != null" >
        #{signUpName,jdbcType=VARCHAR},
      </if>
      <if test="signUpState != null" >
        #{signUpState,jdbcType=VARCHAR},
      </if>
      <if test="signUpTel != null" >
        #{signUpTel,jdbcType=VARCHAR},
      </if>
      <if test="signUpEmail != null" >
        #{signUpEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sign_up.pojo.SignUpExample" resultType="java.lang.Integer" >
    select count(*) from sign_up
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sign_up
    <set >
      <if test="record.signUpId != null" >
        sign_up_id = #{record.signUpId,jdbcType=BIGINT},
      </if>
      <if test="record.signUpTime != null" >
        sign_up_time = #{record.signUpTime,jdbcType=TIME},
      </if>
      <if test="record.signUpName != null" >
        sign_up_name = #{record.signUpName,jdbcType=VARCHAR},
      </if>
      <if test="record.signUpState != null" >
        sign_up_state = #{record.signUpState,jdbcType=VARCHAR},
      </if>
      <if test="record.signUpTel != null" >
        sign_up_tel = #{record.signUpTel,jdbcType=VARCHAR},
      </if>
      <if test="record.signUpEmail != null" >
        sign_up_email = #{record.signUpEmail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sign_up
    set sign_up_id = #{record.signUpId,jdbcType=BIGINT},
      sign_up_time = #{record.signUpTime,jdbcType=TIME},
      sign_up_name = #{record.signUpName,jdbcType=VARCHAR},
      sign_up_state = #{record.signUpState,jdbcType=VARCHAR},
      sign_up_tel = #{record.signUpTel,jdbcType=VARCHAR},
      sign_up_email = #{record.signUpEmail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sign_up.pojo.SignUp" >
    update sign_up
    <set >
      <if test="signUpTime != null" >
        sign_up_time = #{signUpTime,jdbcType=TIME},
      </if>
      <if test="signUpName != null" >
        sign_up_name = #{signUpName,jdbcType=VARCHAR},
      </if>
      <if test="signUpState != null" >
        sign_up_state = #{signUpState,jdbcType=VARCHAR},
      </if>
      <if test="signUpTel != null" >
        sign_up_tel = #{signUpTel,jdbcType=VARCHAR},
      </if>
      <if test="signUpEmail != null" >
        sign_up_email = #{signUpEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where sign_up_id = #{signUpId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sign_up.pojo.SignUp" >
    update sign_up
    set sign_up_time = #{signUpTime,jdbcType=TIME},
      sign_up_name = #{signUpName,jdbcType=VARCHAR},
      sign_up_state = #{signUpState,jdbcType=VARCHAR},
      sign_up_tel = #{signUpTel,jdbcType=VARCHAR},
      sign_up_email = #{signUpEmail,jdbcType=VARCHAR}
    where sign_up_id = #{signUpId,jdbcType=BIGINT}
  </update>
</mapper>